# Copy to terraform.tfvars and fill in values.
# Do not commit terraform.tfvars if it contains secrets.

aws_region    = "us-east-1"
key_name      = "YOUR_EC2_KEY_PAIR_NAME"
ssh_cidr      = "YOUR.PUBLIC.IP.ADDRESS/32"
jenkins_cidr  = "YOUR.PUBLIC.IP.ADDRESS/32"
instance_type = "t3.micro"
repo_url      = "https://github.com/yashassuresh775/flask-postgresql-two-tier.git"
